<!-- <div class="modal fade" id="modalEditindex" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">
            <input id="hidden_ticket_id" type="hidden" name="ticket_id" value="">
            <div>
              {{form.CustomerName.label}}
              {{form.CustomerName(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{form.JobName.label}}
              {{form.JobName(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{form.MapscoLocation.label}}
              {{form.MapscoLocation(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{form.Source.label}}
              {{form.Source(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{form.JobNumber.label}}
              {{form.JobNumber}}
            </div>

            <div>
              {{form.MaterialName.label}}
              {{form.MaterialName(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{form.LoadTotal.label}}
              {{form.LoadTotal(class='_form-input _form-input--m')}}
            </div>



            <div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">LookUp</button>
              {{ form.submit(class='btn btn-primary') }}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->