{% extends "base.html" %}

{% block content %}
<!-- Editindex Modal -->

<!-- end of Editindex Modal -->


<!-- Assign Modal -->
<div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">
            <div class="dispatch-labels">
              <label>CustomerName</label>
              <div id='dispatchCustomerNameID'></div>
            </div>
            <div class="dispatch-labels">
              <label>JobName</label>
              <div id='dispatchJobNameID'></div>
            </div>
            <div class="dispatch-labels">
              <label>JobNumber</label>
              <div id='dispatchJobNumberID'></div>
            </div>
            <input id="hidden_ticket_id" type="hidden" name="ticket_id" value="">
            <div class="form-group row justify-content-center">
              {{form_assign.TruckNumber.label(class='col-sm-4')}}
              {{form_assign.TruckNumber(class='_form-input _form-input--m col-sm-6', list="track-number-list")}}
              <datalist id="track-number-list">
                {% for i in truck_numbers%}
                <option value="{{ i }}">
                {% endfor %}
              </datalist>
              <!-- <label class="_label">Loads</label> -->
            </div>

            <div class="form-group row justify-content-center">
              {{form_assign.LoadsDispatched.label(class='col-sm-4')}}
              {{form_assign.LoadsDispatched(class='_form-input _form-input--m  col-sm-6')}}
            </div>

            <div class="form-group row justify-content-center">
              {{ form_assign.submit(class='btn btn-primary ml-2 col-sm-3 ') }}
              <button type="button" class="btn btn-secondary col-sm-3 ml-2" data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Assign Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalLabelDelete"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" role="form" action="" method="post">
        <div class="modal-body">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of Delete Modal -->


<button onclick="window.location.href='{{ url_for("main.intransit")}}';">
  In Transit
</button>
<button onclick="window.location.href='{{ url_for("main.new_order")}}';">
  New Order
</button>
<!-- Edit Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">CustomerName:</label>
              {{form_edit.CustomerName(id="edit_CustomerName", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">JobName:</label>
              {{form_edit.JobName(id="edit_JobName", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">MapscoLocation:</label>
              {{form_edit.MapscoLocation(id="edit_MapscoLocation", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Source:</label>
              {{form_edit.Source(id="edit_Source", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">JobNumber:</label>
              {{form_edit.JobNumber(id="edit_JobNumber", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">MaterialName:</label>
              {{form_edit.MaterialName(id="edit_MaterialName", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Load Total:</label>
              {{form_edit.LoadTotal(id="edit_LoadTotal", class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              {{form_edit.Status.label(class="col-sm-5 col-form-label")}}
              {{form_edit.Status(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="row justify-content-center">
              {{ form_edit.submit(class='btn btn-primary col-sm-6') }}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Edit Modal -->



<table border=1 frame=hsides rules=rows,columns style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <h2 style="text-align: center;">Orders</h2>
  <tr>
    <th>CustomerName</th>
    <th>JobName</th>
    <th>MapscoLocation</th>
    <th>Source</th>
    <th>JobNumber</th>
    <th>MaterialName</th>
    <th>LoadTotal</th>
    <th>LoadDispatchTotal</th>
    <th>Status</th>
    <th>dispatch summary – truck#(#loads)</th>
    <th>Edit</th>
    <th>Dispatch</th>
    <th>&times;</th>
  </tr>
  {% for new_table_item in reversed(new_table.items) %}
  <tr>
    <td>{{ new_table_item.CustomerName }}</td>
    <td>{{ new_table_item.JobName }}</td>
    <td>{{ new_table_item.MapscoLocation }}</td>
    <td>{{ new_table_item.Source }}</td>
    <td>{{ new_table_item.JobNumber }}</td>
    <td>{{ new_table_item.MaterialName }}</td>
    <td>{{ new_table_item.LoadTotal }}</td>
    <td>{{ LoadsDispatched_function(new_table_item)  }}</td>
    <td>{{ new_table_item.Status }}</td>
    <td></td>
    <td><button type="button" data-toggle="modal" data-target="#modalEdit"
        data-customername="{{new_table_item.CustomerName}}"
        data-jobname="{{new_table_item.JobName}}"
        data-mapscolocation="{{new_table_item.MapscoLocation}}"
        data-source="{{new_table_item.Source}}"
        data-jobnumber="{{new_table_item.JobNumber}}"
        data-materialname="{{new_table_item.MaterialName}}"
        data-loadtotal="{{new_table_item.LoadTotal}}"
        data-target-link="{{url_for('main.edit_order', order_id=new_table_item.orderID)}}">Edit</button>
    </td>
    <td>
      <!-- <button type="button" data-toggle="modal" data-target="#modalAssign"
      data-dispatch-customer-name="{{new_table_item.CustomerName}}"
      data-dispatch-job-name="{{new_table_item.JobName}}"
      data-dispatch-job-number="{{new_table_item.JobNumber}}"
      data-target-link="{{url_for('main.add_dispatch', order_id=new_table_item.orderID)}}">Dispatch</button> -->
      <a href="{{url_for('dispatch.dispatch', order_id=new_table_item.orderID)}}">
        <button type="button">
          Dispatch
        </button>
      </a>
    </td>
    <td>
      <button type="button" data-toggle="modal" data-target="#modalDelete"
        data-target-link="{{url_for('main.delete_index', order_id=new_table_item.orderID)}}">
        <img src="{{ url_for('static', filename='image/delete_element.svg') }}">
      </button>
    </td>
  </tr>
  </tr>
  {% endfor %}
</table>
<div style="margin: 0 auto;">
  {% for page_num in new_table.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if new_table.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock %}