{% extends "base.html" %}

{% block content %}
<!-- class="border-none ddb-cursor-handle" -->
<!-- Editindex Modal -->
<div class="modal fade" id="modalEditindex" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="form" role="form" action="" method="post">
          <div class="__modal-inputs--flex-row">
            <input id="hidden_ticket_id" type="hidden" name="ticket_id" value="">
            <div>
              {{form_edit.loads.label}}
              {{form_edit.loads(class='_form-input _form-input--m')}}
              <!-- <label class="_label">Loads</label> -->
            </div>

            <div>
              {{form_edit.status.label}}
              {{form_edit.status(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{ form_edit.submit(class='btn btn-primary ddb-cursor-handle') }}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Editindex Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalLabelDelete"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" role="form" action="" method="post">
        <div class="modal-body">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of Delete Modal -->


<button onclick="window.location.href='{{ url_for("main.intransit")}}';">
  In Transit
</button>
<button type="button" data-toggle="modal" data-target="#modalSearch" data-target_link=data-name="{{form}}">Add
  Assignment</button>
<!-- Edit Modal -->
<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" role="form" action="{{url_for('main.search_controller')}}" method="post">
          <div class="__modal-inputs--flex-row">

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">CustomerName:</label>
              {{form.CustomerName(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">JobName:</label>
              {{form.JobName(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">MapscoLocation:</label>
              {{form.MapscoLocation(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">JobNumber:</label>
              {{form.JobNumber(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">MaterialName:</label>
              {{form.MaterialName(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">LoadOutNum:</label>
              {{form.LoadOutNum(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">TruckNumber:</label>
              {{form.TruckNumber(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label">SubcontractorName:</label>
              {{form.SubcontractorName(class='_form-input _form-input--m col-sm-6')}}
            </div>

            <div class="">
              {{ form.submit(class='btn btn-primary ddb-cursor-handle') }}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end of Edit Modal -->




<table border=1 frame=hsides rules=rows,columns style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <h2 style="text-align: center;">Assignments</h2>
  <tr>
    <th>CustomerName</th>
    <th>JobName</th>
    <th>MapscoLocation</th>
    <th>JobNumber</th>
    <th>JobStatus</th>
    <th>MaterialName</th>
    <th>LoadOutNum</th>
    <th>TruckNumber</th>
    <th>SubcontractorName</th>
    <th>Loads</th>
    <th>Status</th>
    <th>Edit</th>
    <th>&times;</th>
  </tr>
  {% for new_table_item in new_table.items %}
  <tr>
    <td>{{ Customer.query.get(Tickets.query.get(new_table_item.TicketID).CustomerID).CustomerName }}</td>
    <td>{{ Jobs.query.get(Tickets.query.get(new_table_item.TicketID).JobID).JobName }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).MapscoLocation }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).JobNumber }}</td>
    <td>{{ Jobs.query.get(Tickets.query.get(new_table_item.TicketID).JobID).JobStatus }}</td>
    <td>{{ Materials.query.get(Tickets.query.get(new_table_item.TicketID).MaterialID).MaterialName }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).LoadOutNum }}</td>
    <td>{{ Trucks.query.get(Tickets.query.get(new_table_item.TicketID).TruckID).TruckNumber }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).SubcontractorName }}</td>
    <td>{{ new_table_item.Loads }}</td>
    <td>{{ new_table_item.Status }}</td>
    <td><button type="button" data-toggle="modal" data-target="#modalEditindex"
        data-target-link="{{url_for('main.edit_index', assign_id=new_table_item.assignID)}}">Edit</button>
    </td>
    <td>
      <button type="button" data-toggle="modal" data-target="#modalDelete"
        data-target-link="{{url_for('main.delete_index', assign_id=new_table_item.assignID)}}">
        <img src="{{ url_for('static', filename='image/delete_element.svg') }}">
      </button>
    </td>
  </tr>
  </tr>
  {% endfor %}
</table>
<div style="margin: 0 auto;">
  {% for page_num in new_table.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if new_table.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock %}