{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="small alert alert-{{ category }} alert-dismisible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
<!-- class="border-none ddb-cursor-handle" -->
<button onclick="window.location.href='{{ url_for("main.index")}}';">
  Orders
</button>

<table border=1 frame=hsides rules=rows,columns style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <h2 style="text-align: center;">InTransit</h2>
  <tr>
    <th>CustomerName</th>
    <th>JobName</th>
    <th>Destination</th>
    <th>Date</th>
    <th>PO</th>
    <th>City</th>
    <th>MapscoLocation</th>
    <th>Source</th>
    <th>JobNumber</th>
    <th>MaterialName</th>
    <th>LoadTotal</th>
    <th>LoadDispatchTotal</th>
  </tr>
  {% for new_table_item in reversed(new_table.items) %}
  <tr>
    <td>{{ new_table_item.CustomerName }}</td>
    <td>{{ new_table_item.JobName }}</td>
    <td>{{ new_table_item.destination }}</td>
    <td>{{ new_table_item.created }}</td>
    <td>{{ new_table_item.po }}</td>
    <td>{{ new_table_item.city.value }}</td>
    <td>{{ new_table_item.MapscoLocation }}</td>
    <th>{{ new_table_item.Source }}</th>
    <td>{{ new_table_item.JobNumber }}</td>
    <td>{{ new_table_item.MaterialName }}</td>
    <td>{{ new_table_item.LoadTotal }}</td>
    <td>{{ LoadsDispatched_function(new_table_item) }}</td>
  </tr>
  {% endfor %}
 </table>
 <div style="margin: 0 auto;">
  {% for page_num in new_table.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if new_table.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('main.intransit', page=page_num) }}">{{ page_num }}</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.intransit', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
<script>
    setTimeout(function() {
  location.reload();
}, 60000);
</script>
{% endblock %}