{% extends "base.html" %}

{% block content %}
<!-- class="border-none ddb-cursor-handle" -->
  <!-- Edit Modal -->
  <div class="modal" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="--padding">Edit</h5>
      <div class="modal-body">
        <form class="form" role="form" action="" method="post" >
          <div class="__modal-inputs--flex-row">
            <input id="hidden_ticket_id" type="hidden" name="ticket_id" value="">
            <div>
              {{form.loads.label}}
              {{form.loads(class='_form-input _form-input--m')}}
              <!-- <label class="_label">Loads</label> -->
            </div>

            <div>
              {{form.status.label}}
              {{form.status(class='_form-input _form-input--m')}}
            </div>

            <div>
              {{ form.submit(class='_btn--gray  ddb-cursor-handle') }}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <!-- end of Edit Modal -->

<table border=1 frame=hsides rules=rows,columns style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <h2 style="text-align: center;">Search results</h2>
  <tr>
   <th>CustomerName</th>
   <th>JobName</th>
   <th>MapscoLocation</th>
   <th>JobNumber</th>
   <th>MaterialName</th>
   <th>LoadOutNum</th>
   <th>TruckNumber</th>
   <th>SubcontractorName</th>
   <th>Edit</th>
  </tr>
  {% for new_table_item in new_table.items %}
  <tr>
    <td>{{ Customer.query.get(Tickets.query.get(new_table_item.TicketID).CustomerID).CustomerName }}</td>
    <td>{{ Jobs.query.get(Tickets.query.get(new_table_item.TicketID).JobID).JobName }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).MapscoLocation }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).JobNumber }}</td>
    <td>{{ Materials.query.get(Tickets.query.get(new_table_item.TicketID).MaterialID).MaterialName }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).LoadOutNum }}</td>
    <td>{{ Trucks.query.get(Tickets.query.get(new_table_item.TicketID).TruckID).TruckNumber }}</td>
    <td>{{ Tickets.query.get(new_table_item.TicketID).SubcontractorName }}</td>
    <td><button type="button" data-toggle="modal" data-target="#modalEdit"
        data-target-link="{{url_for('main.add_record', ticket_id=new_table_item.TicketID)}}">Edit</button></td>
  </tr>
  {% endfor %}
 </table>
 <div style="margin: 0 auto;">
  {% for page_num in new_table.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if new_table.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('main.search_controller', page=page_num) }}">{{ page_num }}</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.search_controller', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock %}